html {
  scroll-behavior: smooth;
}

nav {
  top: 30px;
  margin: 0 5rem;
  font-size: 86%;
  /* z-index: 9999; */
}
nav span ul {
  margin-top: 2em;
}
nav span ul li {
  font-size: 1rem;
}
.nav-link {
  padding: 0.5rem 0.55rem;
}

.nav-right {
  position: absolute;
  right: 0;
}
.nav-right ul {
  position: absolute;
}

.nav-left {
  position: absolute;
  left: 0;
}

.nav-left ul {
  position: absolute;
  right: 0;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  transition: 500ms;
  color: yellow !important;
}

.menu-bg {
  background-color: rgba(40, 167, 69, 0.7);
  transition-duration: 200ms;
}
ul.menu-bg.rounded:hover {
  background: rgba(40, 167, 69, 0.9);
}
/* 
.logo {
  width: 100% !important;
  position: absolute;
  margin: 0 auto !important;
  padding: 0 10%;
  top: 0;
} */
.logo {
  margin: 0 auto;
  width: 100%;
  height: auto;
  /* z-index: 9999; */
}

.logo img {
  width: 100%;
  margin: 0 auto;
}

.products {
  margin: 0 auto;
}

.product1,
.product2,
.product3 {
  height: 100px;
  width: 33%;
  max-resolution: 6px !important;
}

.carousel {
  height: 100vh !important;
}

.carousel-item img {
  height: 100vh;
}

#aboutUs > div > div > div > div.col-12 > blockquote > img {
  width: 15%;
}

/*All media queries go here  */

@media (max-width: 576px) {
  span.logo {
    width: 30%;
  }
}
@media all and (max-width: 765px) {
  #aboutUs > div > div > div > div.col-12 > blockquote > img {
    width: 25%;
  }
}
@media all and (max-width: 820px) {
  .nav {
    display: none;
  }
}
